* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Raleway", serif;
    font-size: 16px;
    background-color: #FAFCFE;
}

/* #0A0F1E - dark*/
/* #426FEE - blue */

.page {
}

.container {
    padding: 0 20px;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #426FEE;
    color: #fff;
    font-weight: 500;
    transition: all .1s linear;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.btn:hover {
    box-shadow: 0 0 15px rgba(18, 2, 255, 0.3);
}

/* ---- Header ---- */
.header {
    padding: 20px 0;
    position: fixed;
    display: flex;
    align-items: center;
    height: 90px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FAFCFE;
    z-index: 1;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 20px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.menu_item {
    position: relative;
    margin-left: 20px;
}

.menu_item::before {
    position: absolute;
    left: 50%;
    bottom: -5px;
    display: block;
    content: "";
    background-color: #426FEE;
    width: 0;
    height: 2px;
    transition: all .2s linear;
    z-index: 2;
}

.menu_item:hover {
    color: #426FEE;
}

.menu_item:hover::before {
    left: 0;
    width: 100%;
}

/* ---- Hero ---- */
.hero-wrapper {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 5px;
}

.hero-title {
    font-size: 64px;
    font-weight: 700;
}

.hero-job {
    font-size: 32px;
    margin-bottom: 30px;
}

/* ---- Section ---- */
.section {
    margin-bottom: 100px;
}

.section-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #426FEE;
    text-align: center;
}

.section-subtitle {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 500;
}


/* ---- About Me ---- */
.aboutme-wrapper {
    width: 50%;
    margin: 0 auto 30px;
    text-align: center;
}

.aboutme-top {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.aboutme-top-item {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.aboutme-top-item-icon {
    font-size: 32px;
    margin-bottom: 5px;
    color: #426FEE;
}

.aboutme-top-item-title {
    font-weight: 700;
    margin-bottom: 5px;
}

.aboutme-top-item-text {
    font-size: 14px;
    font-weight: 500;
}

.aboutme-bottom-text {
    font-size: 18px;
    margin-bottom: 50px;
}

/* ---- Contact ---- */
.contact-wrapper {
    display: flex;
}

.contact-left, .contact-right {
    width: 50%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    width: 100%;
    gap: 20px;
}

.contact-form > div {
    position: relative;
    width: 100%;
}

.contact-input {
    /* border: 1px solid #6e6e6e; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    background-color: #fff;
}

.contact-input-title {
    position: absolute;
    top: -10px;
    background-color: #fff;
    left: 15px;
    padding: 3px;
    font-size: 14px;
}

.contact-textarea {
    max-width: 100%;
    min-height: 100px;
    max-height: 400px;
}

.contant-item {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.contant-item-icon {
    font-size: 32px;
    margin-bottom: 5px;
}

.contant-item-title {
    font-weight: 700;
    margin-bottom: 5px;
}

.contant-item-text {
    font-size: 14px;
    font-weight: 500;
}


/* ---- Footer ---- */
.footer {
    padding: 50px 0;
    background-color: #0A0F1E;
    color: #fff;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-socials {
    display: flex;
    gap: 20px;
    font-size: 32px;
    margin-bottom: 30px;
}

.footer-copyright {
    color: #f3f3f3;
}